.auth_form{
    max-width: 450px;
    width: 100%;
    background-color: #fff;
}

.auth_container{
    min-height: 100vh;
}

body{
    position: relative;
    background-color: transparent!important;
    min-height: 100vh;
}

body:after {
    background-image: url("/img/snowflake1.png")!important;
    background-attachment: fixed;
    background-size: 75px;
    content: "";
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

