* {
    box-sizing: border-box;
}

/*TMP*/
.main-header{
    padding-top: 75px;
    background-color: #1572e8 !important;
}

.navbar-header[data-background-color=blue2]{
    background-color: #1572e8 !important;
}

/*.main-panel{*/
/*    height: calc(100vh - 75px)!important;*/
/*}*/

.main-panel > .content{
    min-height: calc(100vh - 62px - 75px)!important;
}

/*.wrapper{*/
/*    min-height: 100%;*/
/*    height: calc(100vh - 75px)!important;*/
/*}*/
.sidebar .user, .sidebar[data-background-color=white] .user{
    margin-top: calc(20px + 75px);
}

.decor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1002;
    pointer-events: none;
}

.main-panel > .content{
    position: relative;
    background-color: transparent!important;
    min-height: calc(100vh - 62px);
    margin-top: calc(62px + 75px);
}

.main-panel > .content:after {
    background-image: url("/img/snowflake1.png")!important;
    background-attachment: fixed;
    background-size: 75px;
    content: "";
    opacity: 0.4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

/*TMP*/

body{
    position: relative;
    background-color: transparent!important;
    min-height: 100vh;
}

/*body:after {*/

/*    background-image: url("/img/fon2.webp")!important;*/
/*    background-size: cover;*/
/*    content: "";*/
/*    opacity: 0.4;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    height: 100vh;*/
/*    z-index: -1;*/
/*}*/

.bg-white, .card{
    background-color: rgba(255, 255, 255, 1) !important;
}

.menu-active {
    border: 1px solid #47abf7;
}

p {
    margin: 0;
}

.min-input {
    border: 1px solid #ebedf2;
    padding: 5px;
    border-radius: 0.2em;
    width: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn.btn-sm.btn--icon {
    width: 32px;
    height: 32px;
}

.btn.btn-sm.btn--icon i {
    font-size: 12px;
}

.btn.btn--icon i {
    font-size: 16px;
}

.btn.btn--icon {
    width: 42px;
    height: 42px;
}

.btn, .btn:hover, .btn:focus{
    color: #ffffff!important;
}

.btn--icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*style for size text*/
.text-10 {
    font-size: 10px;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.text-22 {
    font-size: 22px;
}

.text-24 {
    font-size: 24px;
}

.text-26 {
    font-size: 36px;
}

.text-28 {
    font-size: 38px;
}

.text-30 {
    font-size: 30px;
}

.text-gray {
    color: #8d9498;
}

.bg-grey {
    background-color: #8d9498;
}

.bg-gre1 {
    background-color: rgba(141, 148, 152, 0.54);
}

.bg-grey2 {
    background-color: #b9b9b95e !important;
}

.nowrap-dot {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table td {
    height: 45px;
}

.nowrap {
    text-wrap: none;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

ul.pagination {
    margin-bottom: 0 !important;
}

.nowrap {
    white-space: nowrap;
}

.bg-blue {
    background-color: #1269db9e !important;
}

.text-center {
    text-align: center;
}

/*.table td, */
.table .sort-p {
    padding: 3px 28px 3px 5px !important;
}

.table td, .table th {
    padding: 3px 5px !important;
}

.nowrap {
    word-wrap: normal;
}

.table-cut td {
    border-left: 1px solid #ffffff24;
}

.pointer {
    cursor: pointer;
}

select {
    border: 1px solid #ced4da !important;
}

span.select2 {
    width: 100% !important;
    border: 1px solid #ced4da;
    border-radius: .2rem;
}

span.select2-selection {
    border: 1px solid #ebedf2 !important;
}

.sort {
    cursor: pointer;
    width: 100%;
    position: relative;
}

.sort:before {
    position: absolute;
    right: -14px;
    content: "\2191";
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.sort:after {
    position: absolute;
    right: -23px;
    content: "\2193";
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.sort-asc:before {
    color: #5b5b5b;
    transform: translateY(-50%) scale(1.3);
}

.sort-desc:after {
    color: #5b5b5b;
    transform: translateY(-50%) scale(1.3);
}

textarea {
    resize: auto !important;
}


.user-list-activity .title {
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: #2A2F5B;
}

.user-list-activity .user:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background 0.1s;
}

.user-list-activity .user:hover i {
    color: #4680fb;
    transition: color 0.1s;
}

.user-list-activity .user i {
    color: #858d978f;
}

.user-list-activity .user .name {
    color: #2A2F5B;
    font-size: 13px;
    margin-bottom: 3px;
    font-weight: 600;
}

.user-list-activity .user .role {
    color: #aaa;
}

.notification-item {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}

.notification-item .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    border-radius: 350px;
}

.notification-item .icon i {
    margin: auto;
}

.notification-item .description {
    padding-left: 10px;
    padding-top: 2px;
    width: 100%;
    max-width: calc(100% - 40px - 30px - 10px);
}

.notification-item .description .text-notify {
    font-size: 12px;
    color: #4d585f;
    /*-webkit-line-clamp: 3;*/
    /*display: -webkit-box;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
}

.notification-item .description .text-notify a:hover {
    text-decoration: underline;
}

.notification-item .description .time {
    color: #7d8c95;
    font-size: 12px;
    margin-top: 2px;
}

.notification-item .browse {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 360px;
    border: 1px solid #8d9498;
    cursor: pointer;
    transition: all 0.5s;
}

.notification-item .browse i {
    margin: auto;
    color: #8d9498;
}

.notification-item .browse:hover {
    background-color: #8d9498;
}

.notification-item.not-viewed {
    background-color: #1269db1f;
}

.notification-item .browse:hover i {
    color: #ffffff;
}

.notification-list .accordion-button {
    font-size: 14px;
    padding: 10px;
}

.notification-list .accordion-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-list .accordion-button .icon {
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 360px;
}

.notification-list .accordion-button .icon i {
    margin: auto;
    font-size: 10px;
}

#basic-datatables th, #basic-datatables td {
    font-size: 12px !important;
}


/*-------------files-------------*/
.container__files .item {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
}


.container__files .item .delete_file {
    flex-grow: 0;
}

.container__files .item .file {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border: 1px solid #bdbec1;
    border-radius: 7px;
}

.container__files .item .file .name {
    flex-grow: 1;
    font-size: 16px;
    padding: 4px 10px;
}

.container__files .item .file .format {
    width: 75px;
    background-color: #bdbec1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;
}

/*-------------files-------------*/


/*-------------alert-ajax----------------*/
.alert-ajax {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    width: 100%;
    padding: 16px;
    font-size: 14px;
    z-index: 99999;
    border-radius: 3px;
    color: #ffffff;
    box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 20%);
}

.ajax-success {
    background-color: #4ab866;
}

.ajax-error {
    background-color: #d94f4f;
}

.project-event-table {
    width: 100%;
    border-collapse: separate;
}

.project-event-table td {
    min-height: 30px;
    height: auto;
    padding: 5px 7px;
    border: 1px solid #e1e1e1;
}

.project-event-table .old-value {
    background-color: #ff000059;
    width: 33%;
}

.project-event-table .new-value {
    background-color: #11e1116b;
    width: 33%;
}

.select2-container .select2-selection--single{
    height: 32px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 31px!important;
}

.select-2-custom-state-color{
    color: #ffffff;
    padding: 2px 15px;
    border-radius: 3px;
    text-shadow: 1px 0 1px #3d3d3d,
    0 1px 1px #3d3d3d,
    -1px 0 1px #3d3d3d,
    0 -1px 1px #3d3d3d;
}

.loading {
    font-weight: bold;
    display:inline-block;
    font-family: monospace;
    font-size: 24px;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4) infinite;
}
@keyframes l {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.checkbox{
    transform: scale(1.3)
}

.checkbox:checked{
    background-color: red;
}

