.auth_form{
    max-width: 450px;
    width: 100%;
    background-color: #fff;
}

.auth_container{
    min-height: 100vh;
}

body{
    position: relative;
    background-color: transparent!important;
    min-height: 100vh;
}
